<body class="vertical  light  ">
  <div class="wrapper">
    <%- include('../../includes/side-nav.ejs') %>
    <main role="main" class="main-content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10 col-xl-8">
            <h2 class="h3 mb-4 page-title">Settings</h2>
            <div class="my-4">
              <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Security</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Notifications</a>
                </li>
              </ul>
              <form action="/dashboard/profile-settings" method="POST" enctype="multipart/form-data">
                <div class="row mt-5 align-items-center">
                  <div class="col-md-3 text-center mb-5">
                    <div class="avatar avatar-xl">
                      <label for="upload">
                        <img id="avatar" src="/<%= user.avatarUrl %>" alt="..." class="avatar-img rounded-circle">
                        <input type="file" name="avatar" id="upload" style="display:none" onchange="reloadImage(this);">
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row align-items-center">
                      <div class="col-md-7">
                      <% if(user.firstName && user.lastName) {%>
                        <h4 class="mb-1"><%= user.firstName %>, <%= user.lastName %></h4>
                      <% } else { %>
                        <h4 class="mb-1"><%= user.username %></h4>
                      <% } %>    
                      <p class="small mb-3"><span class="badge badge-dark"><%= user.location.state + ',' %> <%= country.name(user.location.country) %></span></p>
                      </div>
                    </div>
                    <div class="row mb-4">
                      <div class="col-md-7">
                        <p class="text-muted"> <%= user.bio %> </p>
                      </div>
                      <div class="col">
                        <p class="small mb-0 text-muted"><%= user.company %></p>
                        <p class="small mb-0 text-muted"><%= user.location.address %></p>
                        <p class="small mb-0 text-muted"><%= user.phoneNumber %></p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <%- include('../../includes/alert-block.ejs') %>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="firstname">Firstname</label>
                    <input type="text" name="firstName" value="<%= user.firstName %>" id="firstname" class="form-control" placeholder="<%= user.firstName %>">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastname">Lastname</label>
                    <input type="text" name="lastName" value="<%= user.lastName %>" id="lastname" class="form-control" placeholder="<%= user.lastName %>">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail4">Email</label>
                  <input type="email" name="email" value="<%= user.email %>" class="form-control" id="inputEmail4" placeholder="<%= user.email %>">
                </div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" value="<%= user.username %>" id="username" class="form-control" placeholder="<%= user.username %>">
                </div>
                <div class="form-group">
                  <label for="inputPhoneNumber4">Phone Number</label>
                  <input type="number" name="phoneNumber" value="<%= user.phoneNumber %>" class="form-control" id="inputPhoneNumber4" placeholder="<%= user.phoneNumber %>">
                </div>
                <div class="form-group">
                  <label for="inputBio4">Bio</label>
                  <input type="text" name="bio" value="<%= user.bio %>" class="form-control" id="inputBio4" placeholder="<%= user.bio %>">
                </div>
                <div class="form-group">
                  <label for="inputCompany5">Company</label>
                  <input type="text" name="company" value="<%= user.company %>"  class="form-control" id="inputCompany5" placeholder="<%= user.company %>">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-8">
                    <label for="inputAddress5">Address</label>
                    <input type="text" name="address" value="<%= user.location.address %>"  class="form-control" id="inputAddress5" placeholder="<%= user.location.address %>">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputCity5">City</label>
                    <input type="text" name="city" value="<%= user.location.city %>"  class="form-control" id="inputCity5" placeholder="<%= user.location.city %>">
                  </div>
                  <div class="form-group col-md-4">
                  <label for="inputCountry">Country</label>
                  <select name="country" id="inputCountry" class="form-control">
                      <option selected="<%= user.location.country %>" value="<%= user.location.country %>"><%= country.name(user.location.country) %></option>
                      <% for(country of country.all()) { %>
                        <% if(country.name != null || country.name != undefined) { %>
                          <option value="<%= country.ISO.alpha2 %>"><%= country.name %></option>
                        <% } %>
                      <% } %>
                  </select>
                  </div>

                  <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select name="state" id="inputState" class="form-control">
                      <option selected="" value="<%= user.location.state %>"><%= user.location.state %></option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputZip5">Zip</label>
                    <input type="number" name="zip" value="<%= user.location.zip %>" class="form-control" id="inputZip5" placeholder="<%= user.location.zip %>">
                  </div>
                </div>
                <hr class="my-4">
                <div class="row mb-4">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="inputPassword">Current Password</label>
                      <input type="password" name="password" class="form-control" id="inputPassword">
                    </div>
                    <div class="form-group">
                      <label for="inputPassword2">New Password</label>
                      <input type="password" name="newPassword" class="form-control" id="inputPassword2">
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3">Confirm Password</label>
                      <input type="password" name="newConfirmPassword" class="form-control" id="inputPassword3">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <p class="mb-2">Password requirements</p>
                    <p class="small text-muted mb-2"> To create a new password, you have to meet all of the following requirements: </p>
                    <ul class="small text-muted pl-4 mb-0">
                      <li> Minimum 8 character </li>
                      <li>At least one special character</li>
                      <li>At least one number</li>
                      <li>Can’t be the same as a previous password </li>
                    </ul>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Save Change</button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
            </div> <!-- /.card-body -->
          </div> <!-- /.col-12 -->
        </div> <!-- .row -->
      </div> <!-- .container-fluid -->
      <%- include('../../includes/sidebar.ejs') %>
    </main> <!-- main -->
  </div> <!-- .wrapper -->

  <script src="/js/location.js"></script>
  <script>
    function reloadImage(input) {
      if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                $('#avatar')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
      };
    };
  </script>
</body>