<body class="vertical light">
    <%- include('./includes/side-nav.ejs') %>
    <main role="main" class="main-content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="page-title"><%= (editing) ? 'Edit Product' : 'Add Product' %></h2>
            <p class="text-muted"><%= (editing) ? 'Edit the product below' : 'Add a new Product' %></p>
            <div class="card-deck">
              <div class="card shadow mb-4">
                <%- include('./includes/alert-block.ejs') %>
                <div class="card-header">
                  <strong class="card-title">Product Details</strong>
                </div>
                <div class="card-body">
                  <form action="/dashboard/products/<%= (editing) ? 'edit' : 'add' %>" method="POST" enctype="multipart/form-data">
                    <div class="form-row">
                      <div class="form-group col-md-8">
                        <label for="inputName">Name</label>
                        <input type="text" name="name" value="<%= (editing || validationBox) ? product.name : '' %>" class="form-control <%= (validationBox && validationError.find(err => err.param !== 'name')) ? 'is-valid' : '' %> <%= validationError.find(err => err.param === 'name') ? 'is-invalid' : '' %>" id="inputName" placeholder="Name" required>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="inputPrice">Price</label>
                        <input type="text" name="price" value="<%= (editing || validationBox) ? product.price : '' %>" step="0.01" class="form-control <%= (validationBox && validationError.find(err => err.param !== 'price')) ? 'is-valid' : '' %> <%= validationError.find(err => err.param === 'price') ? 'is-invalid' : '' %>" id="inputPrice" placeholder="$ Price" required>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="inputStock">Stock</label>
                        <input type="number" name="stock" value="<%= (editing || validationBox) ? product.stock : '' %>" class="form-control <%= (validationBox && validationError.find(err => err.param !== 'stock')) ? 'is-valid' : '' %> <%= validationError.find(err => err.param === 'stock') ? 'is-invalid' : '' %>" id="inputStock" placeholder="Stock" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputDescription">Description</label>
                      <textarea type="text" name="description" rows="7" class="form-control <%= (validationBox && validationError.find(err => err.param !== 'description')) ? 'is-valid' : '' %> <%= validationError.find(err => err.param === 'description') ? 'is-invalid' : '' %>" id="inputDescription" placeholder="Description" required><%= (editing || validationBox) ? product.description : '' %></textarea>
                    </div>
                    <div class="form-group">
                      <label for="inputType">Type</label>
                      <input type="text" name="type" value="<%= (editing || validationBox) ? product.type : '' %>" class="form-control <%= (validationBox && validationError.find(err => err.param !== 'type')) ? 'is-valid' : '' %> <%= validationError.find(err => err.param === 'type') ? 'is-invalid' : '' %>" id="inputType" placeholder="Type" required>
                    </div>
                    <div class="form-group">
                      <label for="inputImage">Image</label>
                      <input type="file" name="productImage" class="form-control">
                    </div>
                    </div>
                    <% if(editing) { %>
                      <input type="hidden" name="productId" value="<%= product._id %>">
                    <% } %>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-primary"><%= (editing) ? 'Update Product' : 'Add Product' %></button>
                  </form>
                </div>
              </div>
              </div>
            </div> <!-- / .card-desk-->
          </div> <!-- .col-12 -->
        </div> <!-- .row -->
      </div> <!-- .container-fluid -->
      <%- include('./includes/sidebar.ejs') %>
    </main> <!-- main -->
  </div> <!-- .wrapper -->
</body>