<body class="light ">
    <div class="wrapper vh-100">
      <%- include('../includes/nav.ejs') %>
      <div class="row align-items-center h-100">
        <form class="col-lg-6 col-md-8 col-10 mx-auto" action="/register" method="POST">
          <div class="mx-auto text-center my-4">
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/">
              <svg version="1.1" id="logo" class="navbar-brand-img brand-md" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
                <g>
                  <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                  <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                  <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
                </g>
              </svg>
            </a>
            <% if(success || error) { %>
              <div class="alert <%= (success) ? 'alert-success' : 'alert-danger' %>" role="alert">
                <% if(success) { %>
                  <h4 class="alert-heading"><%= success %></h4>
                <% } else { %>
                  <h4 class="alert-heading"><%= error %></h4>
                <% } %>
              </div>
            <% } %>
            <h2 class="my-3">Register</h2>
          </div>
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input name="email" value="<%= input.email %>" type="email" class="form-control <%= (validationBox && validationError.find(err => err.param !== 'email')) ? 'is-valid' : '' %> <%= validationError.find(err => err.param === 'email') ? 'is-invalid' : '' %>" id="inputEmail" placeholder="Email Address" required>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstname">Firstname</label>
              <input name="firstName" value="<%= input.firstName %>" type="text" id="firstname" class="form-control <%= (validationBox && validationError.find(err => err.param !== 'firstName')) ? 'is-valid' : '' %> <%= validationError.find(err => err.param === 'firstName') ? 'is-invalid' : '' %>" placeholder="First Name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="lastname">Lastname</label>
              <input name="lastName" value="<%= input.lastName %>" type="text" id="lastname" class="form-control <%= (validationBox && validationError.find(err => err.param !== 'lastName')) ? 'is-valid' : '' %> <%= validationError.find(err => err.param === 'lastName') ? 'is-invalid' : '' %>" placeholder="Last name" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <input name="username" value="<%= input.username %>" type="username" class="form-control <%= (validationBox && validationError.find(err => err.param !== 'username')) ? 'is-valid' : '' %> <%= validationError.find(err => err.param === 'username') ? 'is-invalid' : '' %>" id="inputUsername" placeholder="Username" required>
          </div>
          <hr class="my-4">
          <div class="row mb-4">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputPassword">New Password</label>
                <input name="password" type="password" class="form-control <%= (validationBox && validationError.find(err => err.param !== 'password')) ? 'is-valid' : '' %> <%= validationError.find(err => err.param === 'password') ? 'is-invalid' : '' %>" id="inputPassword" placeholder="Password" required>
              </div>
              <div class="form-group">
                <label for="inputConfirmPassword">Confirm Password</label>
                <input name="confirmPassword" type="password" class="form-control <%= (validationBox && validationError.find(err => err.param !== 'confirmPassword')) ? 'is-valid' : '' %> <%= validationError.find(err => err.param === 'confirmPassword') ? 'is-invalid' : '' %>" id="inputConfirmPassword" placeholder="Confirm Password" required>
              </div>
            </div>
            <div class="col-md-6">
              <p class="mb-2">Password requirements</p>
              <p class="small text-muted mb-2"> To create a new password, you have to meet all of the following requirements: </p>
              <ul class="small text-muted pl-4 mb-0">
                <li> Minimum 8 character </li>
                <li>At least one special character</li>
                <li>At least one number</li>
                <li>At least one uppercase letter</li>
              </ul>
            </div>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
          <p class="mt-3 mb-3 text-center"><strong><a href="/login">Already have an Account?</a></strong></p>
          <p class="mt-5 mb-3 text-muted text-center">© 2021</p>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
      </div>
    </div>
</body>